<template>
  <section class="section best-brokers">
    <h2 class="section__h2 best-brokers__h2">Our best brokers</h2>
    <ul class="best-brokers__list">
      <li class="best-brokers__item">
        <div class="best-brokers__name">
          Alvexo
          <div class="rating best-brokers__rating" data-star="5"></div>
        </div>
        <div class="best-brokers__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
        <div class="best-brokers__actions">
          <a href="/" class="button button--primary">Visit site</a>
          <a href="/" class="button button--outline">Review</a>
        </div>
      </li>
      <li class="best-brokers__item">
        <div class="best-brokers__name">
          Libertex
          <div class="rating best-brokers__rating" data-star="4"></div>
        </div>
        <div class="best-brokers__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
        <div class="best-brokers__actions">
          <a href="/" class="button button--primary">Visit site</a>
          <a href="/" class="button button--outline">Review</a>
        </div>
      </li>
      <li class="best-brokers__item">
        <div class="best-brokers__name">
          Bitcoin Trader
          <div class="rating best-brokers__rating" data-star="3"></div>
        </div>
        <div class="best-brokers__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
        <div class="best-brokers__actions">
          <a href="/" class="button button--primary">Visit site</a>
          <a href="/" class="button button--outline">Review</a>
        </div>
      </li>
      <li class="best-brokers__item">
        <div class="best-brokers__name">
          eToro
          <div class="rating best-brokers__rating" data-star="2"></div>
        </div>
        <div class="best-brokers__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
        <div class="best-brokers__actions">
          <a href="/" class="button button--primary">Visit site</a>
          <a href="/" class="button button--outline">Review</a>
        </div>
      </li>
    </ul>
  </section>
</template>
