<template>
    <header class="section header">
        <nuxt-link to="/" class="header__logo">smartsystem</nuxt-link>
        <nav class="nav" :class="{ 'nav--open' : navOpen }">
            <div class="nav__switcher" @click="toggleNav">
                <span class="nav__line"></span>
                <span class="nav__line"></span>
                <span class="nav__line"></span>
            </div>
            <ul class="nav__list" v-if="navigation">
                <li class="nav__item" v-for="item of navigation"
                    @click="toggleNav"
                    :class="{'nav__item--dropdown': item.dropdown.length}">
                    <nuxt-link :to="item.url"
                               :class="[
                                   item.primary ? 'button button--primary nav__button' : 'nav__link',
                                   // item.dropdown.length > 0 ? 'button button--primary nav__button nav__link' : ''
                                   ]">
                        {{ item.name }}
                    </nuxt-link>
                    <ul class="dropdown" v-if="item.dropdown.length">
                        <li class="dropdown__item" v-for="drop of item.dropdown">
                            <nuxt-link :to="drop.url" class="dropdown__link">{{ drop.name }}</nuxt-link>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
export default {
    data: () => {
        return {
            navOpen: false
        }
    },
    methods: {
        toggleNav() {
            this.navOpen = !this.navOpen;
        },
        getLink(url) {
            return `${url}${this.setting.query}`
        }
    },
    computed: {
        navigation() {
            return this.$store.getters.navigation;
        },
    },
}
</script>
