<template>
    <nuxt-link :id="link.buttonId || id" v-if="link && link.type === 'internal' || ''"
               :target="link.target ? link.target : '_self'"
               :to="link.url">{{ getLinkName }}
    </nuxt-link>
    <a :id="link.buttonId || id" v-else-if="link && link.type === 'external'" :target="link.target ? link.target : '_self'"
       :href="link.url">{{ getLinkName }}</a>
</template>

<script>
export default {
    props: ['link', 'name', 'id'],
    computed: {
        getLinkName() {
            return this.name ? this.name : this.link.name
        }
    }
}
</script>
