<template>
    <div class="page__content">
        <section class="section news">
            <h1 class="section__h1">News</h1>
            <ul class="tags" v-if="tagList.length">
                <li class="tags__item" :class="{ 'tags__item--active' : !activeTag}"
                    @click="setActiveTag()">All
                </li>
                <li class="tags__item" :class="{ 'tags__item--active' : activeTag === tag.slug }"
                    v-for="tag of tagList"
                    @click="setActiveTag(tag.slug)">{{ tag.name }}
                </li>
            </ul>
            <ul class="news__list">
                <li class="news__item" v-for="news of filteredNewsList">
                    <img :src="`${strapiUploadUrl}${news.image.url}`" alt="" class="news__image">
                    <div class="news__content">
                        <div class="news__name">{{ news.name }}</div>
                        <div class="news__desc">{{ news.desc }}</div>
                        <div class="news__tag">{{ tags(news.tags) }}</div>
                    </div>
                    <nuxt-link :to="`/news/${news.slug}`" class="news__link"></nuxt-link>
                </li>
            </ul>
            <template v-if="filteredNewsList.length === 0">No news added</template>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            // tags: []
            newsList: [],
            tagList: [],
            activeTag: ''
        }
    },
    async asyncData({ $strapi }) {
        const response = await $strapi.find('publications', {
            populate: ['image', 'tags']
        })
        const responseTags = await $strapi.find('tags')
        return {
            tagList: responseTags.data,
            newsList: response.data
        }

    },
    computed: {
        filteredNewsList() {
            return this.newsList.filter(news => {
                if (this.activeTag) return news.tags.map(tag => tag.slug).includes(this.activeTag);
                else return news;
            });
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        }
    },
    methods: {
        formatDateDay(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('en-us', options)
        },
        tags(tags) {
            return tags.map(tag => tag.name).join(', ');
        },
        setActiveTag(tag = '') {
            this.activeTag = tag;
        }
    }
}
</script>
