<template>
  <section class="section try-trading">
    <h2 class="section__h2">Why do you have to try trading?</h2>
    <ul class="try-trading__list">
      <li class="try-trading__item">
        <h3 class="try-trading__name">Save money for travel, new car, house</h3>
        <div class="try-trading__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
      </li>
      <li class="try-trading__item">
        <h3 class="try-trading__name">Flexibility</h3>
        <div class="try-trading__desc">
          You can create your own schedule, go wherever you want
        </div>
      </li>
      <li class="try-trading__item">
        <h3 class="try-trading__name">Save money for travel, new car, house</h3>
        <div class="try-trading__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
      </li>
      <li class="try-trading__item">
        <h3 class="try-trading__name">Save money for travel, new car, house</h3>
        <div class="try-trading__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
      </li>
      <li class="try-trading__item">
        <h3 class="try-trading__name">Save money for travel, new car, house</h3>
        <div class="try-trading__desc">
          the earlier you start trading, the faster you will reach your financial goal.
        </div>
      </li>
    </ul>
    <a href="/" class="button button--primary button--arrow try-trading__button">Find a broker for me</a>
  </section>
</template>
