<template>
  <section class="section we-have">
    <h2 class="section__h2">What does we have?</h2>
    <ul class="we-have__list">
      <li class="we-have__item">
        <img src="images/temp/trading.jpg" alt="" class="we-have__image">
        <div class="we-have__content">
          <a href="/" class="we-have__name">
            Compare the brokers and the opinion of our experts
          </a>
          <div class="we-have__desc">
            To make your choice easier, our experts have analyzed each of them according to a specific
            methodology and present their comparative.
          </div>
          <a href="/" class="button button--primary">Compare</a>
        </div>
      </li>
      <li class="we-have__item">
        <img src="images/temp/trading.jpg" alt="" class="we-have__image">
        <div class="we-have__content">
          <a href="/" class="we-have__name">
            Trading robots to perform
          </a>
          <div class="we-have__desc">
            The trading robots allow you to optimize
            your performance, and make better strategic decisions. Our experts will present you with the best of
            them.
          </div>
          <a href="/" class="button button--primary">Try robot</a>
        </div>
      </li>
      <li class="we-have__item">
        <img src="images/temp/trading.jpg" alt="" class="we-have__image">
        <div class="we-have__content">
          <a href="/" class="we-have__name">
            Our review with pro tips
          </a>
          <div class="we-have__desc">
            We rate our brokers individual with certain parameters
          </div>
          <a href="/" class="button button--primary">Check review</a>
        </div>
      </li>
    </ul>
  </section>
</template>
