<template>
    <div class="page__container">
        <Header/>
        <Nuxt/>
    </div>
</template>

<script>
export default {
    mounted() {
        this.setKeitaro();
    },
    methods: {
        setKeitaro() {
        }
    },
    watch: {
        $route() {
            this.setKeitaro();
        },
    },
}
</script>
