<template>
    <div class="page__content">
        <section class="section trading">
            <div class="trading__content">
                <aside class="trading__aside">
                    <h1 class="section__h1 trading__h1">{{ data.trading.name }}</h1>
                    <div class="trading__desc">
                        {{ data.trading.desc }}
                    </div>
                    <div class="trading__actions">
                        <Link :link="data.trading.find"
                              class="button button--primary trading__button trading__button--find"/>
                        <Link :link="data.trading.learn"
                              class="button button--outline trading__button trading__button--learn"/>
                    </div>
                </aside>
                <img :src="`${strapiUploadUrl}${data.trading.image.url}`" alt="" class="trading__image">
            </div>
            <div class="trading__quote">{{ data.trading.quote }}</div>
        </section>
        <section class="section try-trading">
            <h2 class="section__h2">{{ data.try.title }}</h2>
            <ul class="try-trading__list">
                <li class="try-trading__item" v-for="item of data.try.items">
                    <h3 class="try-trading__name">{{ item.name }}</h3>
                    <div class="try-trading__desc">{{ item.desc }}</div>
                </li>
            </ul>
            <Link :link="data.try.button" class="button button--primary button--arrow try-trading__button"/>
        </section>
        <section class="section we-have">
            <h2 class="section__h2">{{ data.wehave.title }}</h2>
            <ul class="we-have__list">
                <li class="we-have__item" v-for="item of data.wehave.items">
                    <img :src="`${strapiUploadUrl}${item.image.url}`" alt="" class="we-have__image">
                    <div class="we-have__content">
                        <Link :link="item.button" :name="item.name" class="we-have__name"/>
                        <div class="we-have__desc">{{ item.desc }}</div>
                        <Link :link="item.button" class="button button--primary"/>
                    </div>
                </li>
            </ul>
        </section>
        <section class="section best-brokers">
            <h2 class="section__h2 best-brokers__h2">{{ data.brokersTitle }}</h2>
            <ul class="best-brokers__list">
                <li class="best-brokers__item" :class="{ 'best-brokers__item--selected' : broker.selected }"
                    v-for="broker of brokers">
                    <div class="best-brokers__name">
                        {{ broker.name }}
                        <div class="rating best-brokers__rating" :data-star="broker.star"></div>
                    </div>
                    <div class="best-brokers__desc">
                        {{ broker.desc }}
                    </div>
                    <div class="best-brokers__actions">
                        <Link v-if="broker.visiter" :link="broker.visiter" class="button button--primary"/>
                        <Link v-if="broker.avis" :link="broker.avis" class="button button--outline"/>
                    </div>
                </li>
            </ul>
        </section>
        <section class="section employees">
            <h2 class="section__h2 employees__h2">{{ data.employees.title }}</h2>
            <ul class="employees__list">
                <li class="employees__item" v-for="employeesItem of data.employees.items">
                    <img :src="`${strapiUploadUrl}${employeesItem.photo.url}`" alt="" class="employees__photo">
                    <div class="employees__name">{{ employeesItem.name }}</div>
                    <div class="employees__position">{{ employeesItem.position }}</div>
                    <nuxt-link :to="employeesItem.link" class="employees__link"></nuxt-link>
                </li>
            </ul>
        </section>
        <section class="section faq">
            <h2 class="section__h2">{{ data.faq.title }}</h2>
            <ul class="faq__list">
                <li class="faq__item"
                    v-for="item of data.faq.items">
                    <div class="faq__header">
                        <div class="faq__question">{{ item.question }}</div>
                        <div class="faq__switcher"></div>
                    </div>
                    <div class="faq__answer">{{ item.answer }}</div>
                </li>
            </ul>
        </section>
        <section class="section find-broker">
            <div class="find-broker__content">
                <div class="find-broker__line" v-for="line of data.findBroker.title.split('/')">{{ line }}</div>
                <div class="button button--secondary find-broker__button"></div>
                <Link :link="data.findBroker.link" class="find-broker__link"/>
            </div>
        </section>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: 'IndexPage',
    async asyncData({ $strapi }) {
        const response = await $strapi.find('index-page', {
            populate: [
                'trading', 'trading.image', 'trading.learn', 'trading.find',
                'faq', 'faq.items', 'seo',
                'employees', 'employees.items', 'employees.items.photo',
                'try', 'try.items', 'try.button',
                'wehave', 'wehave.items', 'wehave.items.button', 'wehave.items.image',
                'findBroker', 'findBroker.link'
            ],
        })
        const qs = require('qs');
        const brokersQuery = qs.stringify({
            filters: {
                'showOnIndex': {
                    $eq: true
                }
            },
            populate: [
                'image',
                'category',
                'tags',
                'visiter',
                'avis'
            ]
        }, {
            encodeValuesOnly: true,
        });
        const brokers = await axios.get(`${process.env.STRAPI_URL}/brokers/?${brokersQuery}`);
        return {
            brokers: brokers.data.data,
            data: response.data,
        }
    },
    head() {
        return {
            title: this.data.seo.metaTitle,
            meta: [
                { hid: 'description', name: 'description', content: this.data.seo.metaDescription || '' },
            ],
        }
    },
    computed: {
        faqList() {
            return this.data.faq.items.map(item => ({ ...item, open: false }))
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
    methods: {
        replaceLink() {

        }
    },
    mounted() {
        this.replaceLink();
        const faqQuestions = document.querySelectorAll('.faq__question, .faq__switcher');

        for (let question of faqQuestions) {
            question.addEventListener('click', () => {
                question.parentElement.parentElement.classList.toggle('faq__item--active');
            });
        }
        this.$store.dispatch('setKeitaro');
    }
}
</script>
