<template>
    <div class="page__content">
        <section class="section news">
            <h1 class="section__h1">News</h1>
            <ul class="tags" v-if="tagList.length">
                <li class="tags__item" :class="{ 'tags__item--active' : !activeTag}"
                    @click="setActiveTag()">All
                </li>
                <li class="tags__item" :class="{ 'tags__item--active' : activeTag === tag.slug }"
                    v-for="tag of tagList"
                    @click="setActiveTag(tag.slug)">{{ tag.name }}
                </li>
            </ul>
            <ul class="news__list">
                <li class="news__item" v-for="news of filteredNewsList">
                    <img :src="`${strapiUploadUrl}${news.image.url}`" alt="" class="news__image">
                    <div class="news__content">
                        <div class="news__name">{{ news.name }}</div>
                        <div class="news__desc">{{ news.desc }}</div>
                        <div class="news__tag">{{ tags(news.tags) }}</div>
                    </div>
                    <nuxt-link :to="`/news/${news.slug}`" class="news__link"></nuxt-link>
                </li>
            </ul>
            <template v-if="filteredNewsList.length === 0">No news added</template>
        </section>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            // tags: []
            activeTag: ''
        }
    },
    async asyncData({ $strapi, error }) {

        const qs = require('qs');
        const query = qs.stringify({
            filters: {
                category: {
                    slug: {
                        $ne: 'reviews'
                    }
                }
            },
            populate: [
                'image',
                'category',
                'tags'
            ]
        }, {
            encodeValuesOnly: true,
        });

        try {
            const response = await axios.get(`${process.env.STRAPI_URL}/publications/?${query}`);
            const responseTags = await $strapi.find('tags')
            console.log(response.data);
            return {
                newsList: response.data.data,
                tagList: responseTags.data
            }
        } catch (e) {
            error({ statusCode: 404, message: 'Category not found' })
        }
    },
    computed: {
        filteredNewsList() {
            return this.newsList.filter(news => {
                if (this.activeTag) return news.tags.map(tag => tag.slug).includes(this.activeTag);
                else return news;
            });
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        }
    },
    methods: {
        formatDateDay(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('en-us', options)
        },
        tags(tags) {
            return tags.map(tag => tag.name).join(', ');
        },
        setActiveTag(tag = '') {
            this.activeTag = tag;
        }
    },
    mounted() {
        this.$store.dispatch('setKeitaro');
    }
}
</script>
