<template>
    <div class="page__content">
        <article class="section article">
            <img :src="`${strapiUploadUrl}${data.image.url}`" alt="" class="article__image">
            <div class="article__data">
                <div class="rating article__rating" :data-star="data.stars"></div>
                <div class="article__type">{{ data.category.name }}</div>
                <div class="article__date">{{ formatDateDay(data.publishedAt) }}</div>
            </div>
            <h1 class="section__h1 article__h1">{{ data.name }}</h1>
            <div class="article__desc">{{ data.desc }}
            </div>
            <Link :link="data.button" :id="$store.getters.config.heroButtonId" class="button button--primary"/>
            <div class="article__container">
                <aside class="article__aside">
                    <div class="anchors">
                        <ul class="anchors__list"></ul>
                    </div>
                </aside>
                <div class="article__content">
                    <template v-for="component of data.components">
                        <template v-if="component.__component === 'content.editor' && component.content">
                            <template v-for="block of JSON.parse(component.content).blocks"
                                      v-if="JSON.parse(component.content).blocks.length">
                                <div class="quote" v-if="block.type === 'quote'">
                                    <div class="quote__text">{{ block.data.text }}</div>
                                    <div class="quote__author">{{ block.data.caption }}</div>
                                </div>
                                <template v-else-if="block.type === 'header'">
                                    <h1 v-if="block.data.level === 1" v-html="block.data.text"></h1>
                                    <h2 v-else-if="block.data.level === 2" v-html="block.data.text"></h2>
                                    <h3 v-else-if="block.data.level === 3" v-html="block.data.text"></h3>
                                    <h4 v-else-if="block.data.level === 4" v-html="block.data.text"></h4>
                                    <h5 v-else-if="block.data.level === 5" v-html="block.data.text"></h5>
                                </template>
                                <p v-else-if="block.type === 'paragraph'" v-html="block.data.text"></p>
                                <ol v-else-if="block.type === 'list' && block.data.style === 'unordered'">
                                    <li v-for="item of block.data.items" v-html="item"></li>
                                </ol>
                                <ul v-else-if="block.type === 'list' && block.data.style === 'ordered'">
                                    <li v-for="item of block.data.items" v-html="item"></li>
                                </ul>
                                <img v-else-if="block.type === 'image'"
                                     :src="`${strapiUploadUrl}${block.data.file.url.replace('/strapi', '')}`"
                                     alt="">
                                <template v-else-if="block.type === 'table'">
                                    <table class="article__table">
                                        <tr v-for="tr of block.data.content" class="article__tr">
                                            <td v-for="td of tr" v-html="td" class="article__td"></td>
                                        </tr>
                                    </table>
                                </template>
                            </template>
                        </template>
                        <template v-else-if="component.__component === 'content.brokers'">
                            <div class="best-brokers best-brokers--article">
                                <ul class="best-brokers__list">
                                    <li class="best-brokers__item"
                                        :class="{ 'best-brokers__item--selected' : broker.selected }"
                                        v-for="broker of component.brokers">
                                        <div class="best-brokers__name">
                                            {{ broker.name }}
                                            <div class="rating best-brokers__rating" :data-star="broker.star"></div>
                                        </div>
                                        <ol class="best-brokers__features">
                                            <li class="best-brokers__element" v-for="feature of broker.features">
                                                {{ feature.name }}
                                            </li>
                                        </ol>
                                        <div class="best-brokers__actions">
                                            <button class="button button--primary">Visit site</button>
                                        </div>
                                        <a :href="broker.visit" class="best-brokers__link"></a>
                                    </li>
                                </ul>
                            </div>
                        </template>
                        <template v-if="component.__component === 'content.compares'">
                            <div class="compare-table" v-if="component.type === 'table' || component.type === ''">
                                <div class="compare-table__column" v-for="broker of component.brokers">
                                    <div class="compare-table__project">
                                        <img v-if="broker.logo" :src="`${strapiUploadUrl}${broker.logo.url}`" alt=""
                                             class="compare-table__logo">
                                        {{ broker.name }}
                                    </div>
                                    <ul class="compare-table__list">
                                        <li class="compare-table__item" v-for="compare of broker.compares">
                                            <div class="compare-table__name">{{ compare.name }}</div>
                                            <div class="compare-table__desc">{{ compare.desc }}</div>
                                        </li>
                                    </ul>
                                    <Link :link="broker.button" class="button button--secondary compare-table__button"/>
                                </div>
                            </div>
                            <div class="compare" v-else-if="component.type === 'vertical'">
                                <ul class="compare__list" :class="`compare__list--${component.type}`">
                                    <li class="compare__item" v-for="broker of component.brokers">
                                        <div class="compare__project">
                                            <img v-if="broker.logo" :src="`${strapiUploadUrl}${broker.logo.url}`" alt=""
                                                 class="compare__logo">
                                            {{ broker.name }}
                                        </div>
                                        <ul class="compare-table__list">
                                            <li class="compare-table__item">
                                                <div class="compare__name">Points forts</div>
                                                <ul>
                                                    <li v-for="feature of broker.features">{{ feature.name }}</li>
                                                </ul>
                                            </li>
                                            <li class="compare-table__item">
                                                <div class="compare__name">Note</div>
                                                {{ broker.star }} of 5
                                            </li>
                                        </ul>
                                        <Link :link="broker.button" class="button button--secondary compare__button"/>
                                    </li>
                                </ul>
                            </div>
                            <div class="compare" v-else-if="component.type === 'horizontal'">
                                <ul class="compare__list" :class="`compare__list--${component.type}`">
                                    <li class="compare__item" v-for="broker of component.brokers">
                                        <div class="compare__project">
                                            <img v-if="broker.logo" :src="`${strapiUploadUrl}${broker.logo.url}`" alt=""
                                                 class="compare__logo">
                                            {{ broker.name }}
                                        </div>
                                        <ul class="compare-table__list">
                                            <li class="compare-table__item">
                                                <div class="compare__name">Points forts</div>
                                                <ul>
                                                    <li v-for="feature of broker.features">{{ feature.name }}</li>
                                                </ul>
                                            </li>
                                            <li class="compare-table__item">
                                                <div class="compare__name">Note</div>
                                                {{ broker.star }} of 5
                                            </li>
                                        </ul>
                                        <Link :link="broker.button" class="button button--secondary compare__button"/>
                                    </li>
                                </ul>
                            </div>
                            <div class="compare" v-else-if="component.type === 'vertical-extend'">
                                <ul class="compare__list" :class="`compare__list--${component.type}`">
                                    <li class="compare__item" v-for="broker of component.brokers">
                                        <div class="compare__project">
                                            <img v-if="broker.logo" :src="`${strapiUploadUrl}${broker.logo.url}`" alt=""
                                                 class="compare__logo">
                                            {{ broker.name }}
                                            <div :data-star="broker.star" class="rating compare__rating"></div>
                                        </div>
                                        <ul class="compare-table__list">
                                            <li class="compare-table__item">
                                                <div class="compare__name">Description</div>
                                                <div class="compare__desc">
                                                    {{ broker.desc }}
                                                </div>
                                            </li>
                                            <li class="compare-table__item">
                                                <div class="compare__name">Points forts</div>
                                                <ul>
                                                    <li v-for="feature of broker.features">{{ feature.name }}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <Link :link="broker.button" :id="$store.getters.config.buttonBrokersId"
                                              class="button button--secondary compare__button"/>
                                    </li>
                                </ul>
                            </div>
                            <div class="compare" v-else>
                                <ul class="compare__list" :class="`compare__list--${component.type}`">
                                    <li class="compare__item" v-for="broker of component.brokers">
                                        <div class="compare__project">
                                            <img v-if="broker.logo" :src="`${strapiUploadUrl}${broker.logo.url}`" alt=""
                                                 class="compare__logo">
                                            {{ broker.name }}
                                        </div>
                                        <ul class="compare-table__list">
                                            <li class="compare-table__item" v-for="compare of broker.compares">
                                                <div class="compare-table__name">{{ compare.name }}</div>
                                                <div class="compare-table__desc">{{ compare.desc }}</div>
                                            </li>
                                        </ul>
                                        <Link :link="broker.button" class="button button--secondary compare__button"/>
                                    </li>
                                </ul>
                            </div>
                        </template>
                        <div class="article__button-caption" v-if="component.__component === 'content.button'">
                            <Link :link="component.button" class="button button--primary"/>
                            <div class="article__caption">{{ component.caption }}</div>
                        </div>
                    </template>
                </div>
                <aside class="article__aside" v-if="data.support">
                    <div class="support">
                        <template v-for="item of data.support.items">
                            <div class="support__name">{{ item.name }}</div>
                            <div class="support__desc">{{ item.desc }}</div>
                        </template>
                        <button class="button button--secondary support__button">{{ data.support.button.name }}</button>
                        <Link :link="data.support.button" :id="$store.getters.config.sidebarId" name=" "
                              class="support__link"/>
                    </div>
                </aside>
            </div>
        </article>
        <section class="section faq" v-if="data.faq && data.faq.items.length > 0">
            <h2 class="section__h2">{{ data.faq.title }}</h2>
            <ul class="faq__list">
                <li class="faq__item"
                    v-for="item of data.faq.items">
                    <div class="faq__header">
                        <div class="faq__question">{{ item.question }}</div>
                        <div class="faq__switcher"></div>
                    </div>
                    <div class="faq__answer">{{ item.answer }}</div>
                </li>
            </ul>
        </section>
        <section class="section faq" v-if="data.postFaq && data.postFaq.length > 0">
            <h2 class="section__h2">FAQ</h2>
            <ul class="faq__list">
                <li class="faq__item"
                    v-for="item of data.postFaq">
                    <div class="faq__header">
                        <div class="faq__question">{{ item.question }}</div>
                        <div class="faq__switcher"></div>
                    </div>
                    <div class="faq__answer">{{ item.answer }}</div>
                </li>
            </ul>
        </section>
        <section class="section conclusion" v-if="data.conclusion">
            <div class="section__h1 conclusion__h1">{{ data.conclusion.title }}</div>
            <div class="conclusion__desc">
                <p class="conclusion__p" v-for="p of getParagraphs(data.conclusion.desc)">
                    {{ p }}
                </p>
            </div>
            <div class="conclusion__container">
                <aside class="conclusion__aside" v-if="data.conclusion.asideLeft.length > 0">
                    <div class="conclusion__name">Avantages</div>
                    <ol class="conclusion__list">
                        <li class="conclusion__item" v-for="item of data.conclusion.asideLeft">{{ item.content }}</li>
                    </ol>
                </aside>
                <aside class="conclusion__aside" v-if="data.conclusion.asideRight.length > 0">
                    <div class="conclusion__name">Inconvénients</div>
                    <ol class="conclusion__list">
                        <li class="conclusion__item" v-for="item of data.conclusion.asideRight">{{ item.content }}</li>
                    </ol>
                </aside>
            </div>
            <Link :link="data.conclusion.button" :id="$store.getters.config.conclusionId"
                  class="button button--secondary"/>
        </section>
    </div>
</template>

<script>
export default {
    async asyncData({ $strapi, params, error }) {
        try {
            const response = await $strapi.findOne('publications', params.slug, {
                populate: [
                    'image', 'button', 'seo',
                    'category', 'faq', 'faq.items', 'postFaq',
                    'components',
                    'components.button',
                    'components.brokers', 'components.brokers.features', 'components.compares',
                    'components.brokers.button', 'components.brokers.logo',
                    'components.compares.brokers', 'components.brokers.compares', 'support', 'support.items', 'support.button',
                    'conclusion', 'conclusion.asideLeft', 'conclusion.asideRight', 'conclusion.button'
                ]
            })
            return {
                data: response.data
            }
        } catch (e) {
            error({ statusCode: 404, message: 'Post not found' })
        }
    },
    head() {
        return {
            title: (this.data.seo && this.data.seo.metaTitle) ? this.data.seo.metaTitle : 'Smartsystem',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: (this.data.seo && this.data.seo.metaDescription) ? this.data.seo.metaDescription : ''
                },
            ],
        }
    },
    methods: {
        formatDateDay(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('en-us', options)
        },
        getParagraphs(desc) {
            return desc.split('|')
        }
    },
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
    mounted() {
        const faqQuestions = document.querySelectorAll('.faq__question, .faq__switcher');

        for (let question of faqQuestions) {
            question.addEventListener('click', () => {
                question.parentElement.parentElement.classList.toggle('faq__item--active');
            });
        }

        const contentTitles = document.querySelectorAll('.article__content h2');
        const anchorsList = document.querySelector('.anchors__list');

        for (let title of contentTitles) {
            addAnchorItem(title.innerText, anchorsList);
        }

        const anchorsItems = document.querySelectorAll('.anchors__item');

        for (let item of anchorsItems) {
            item.addEventListener('click', (e) => {
                for (let title of contentTitles) {
                    if (title.innerHTML === item.innerHTML) {
                        const y = title.getBoundingClientRect().top + window.scrollY - 20;
                        window.scroll({
                            top: y,
                            behavior: 'smooth'
                        });
                        break;
                    }
                }
            });
        }

        function addAnchorItem(text) {
            let item = document.createElement('li');
            item.classList.add('anchors__item');
            let linkText = document.createTextNode(text);
            item.appendChild(linkText);
            anchorsList.append(item);
        }

        this.$store.dispatch('setKeitaro');
    }
}
</script>
