<template>
    <div class="page__content">
        <section class="section review">
            <h1 class="section__h1">{{ this.$route.params.category }}</h1>
            <ul class="review__list">
                <li class="review__item" v-for="post of posts.data">
                    <img :src="`${strapiUploadUrl}${post.image.url}`" alt="" class="review__image">
                    <div class="review__content">
                        <div class="rating" :data-star="post.stars"></div>
                        <div class="review__name">{{ post.name }}</div>
                        <div class="review__desc">{{ post.desc }}</div>
                        <div class="review__footer">
                            <div class="review__date">{{ formatDateDay(post.publishedAt) }}</div>
                            <!--              <div class="review__tag">Bitcoin</div>-->
                        </div>
                    </div>
                    <nuxt-link :to="`/${post.category.slug}/${post.slug}`" class="review__link"></nuxt-link>
                </li>
            </ul>
            <template v-if="posts.data.length === 0">No posts added</template>
            <!--      <button class="button button&#45;&#45;primary review__button">Show 23 more reviews</button>-->
        </section>
    </div>
</template>

<script>
import axios from 'axios';

export default {

    async asyncData({ $strapi, params, error }) {
        const qs = require('qs');
        const query = qs.stringify({
            filters: {
                category: {
                    slug: {
                        $eq: params.category
                    }
                }
            },
            pagination: {
                page: 1,
                pageSize: 100
            },
            populate: [
                'image',
                'category',
                'components'
            ]
        }, {
            encodeValuesOnly: true,
        });
        try {
            const response = await axios.get(`${process.env.STRAPI_URL}/publications/?${query}`);
            return {
                posts: response.data
            }
        } catch (e) {
            error({ statusCode: 404, message: 'Category not found' })
        }
    },
    methods: {
        formatDateDay(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('en-us', options)
        }
    },
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        }
    },
    mounted() {
        this.$store.dispatch('setKeitaro');
    }
}
</script>
